<footer class="page-footer dark">
   <div class="container">
      <div class="row">
         <div class="col-sm-3">
            <h5>Get started</h5>
            <ul>
               <li><a routerLink="/">Home</a></li>
               <li><a routerLink="/students">Students</a></li>
               <li><a routerLink="/student/create">Create Student</a></li>
            </ul>
         </div>
         <div class="col-sm-3">
            <h5>Quick Links</h5>
            <ul>
               <li>
                  <a
                     href="https://www.w3schools.com/nodejs/nodejs_mongodb.asp"
                     target="_blank"
                  >
                     Learn MongoDB
                  </a>
               </li>
               <li>
                  <a href="https://expressjs.com/" target="_blank">
                     Learn ExpressJS
                  </a>
               </li>
               <li>
                  <a href="https://angular.io/" target="_blank">
                     Learn Angular
                  </a>
               </li>
               <li>
                  <a
                     href="https://nodejs.org/docs/latest-v17.x/api/"
                     target="_blank"
                  >
                     Learn NodeJS
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="footer-copyright">
      <p>&copy; {{ currentYear }} MongoDB CRUD - Simon D. Maxwell</p>
   </div>
</footer>
