<section
   class="clean-block clean-hero"
   style="
      background-image: url('https://images.pexels.com/photos/5473298/pexels-photo-5473298.jpeg?cs=srgb&dl=pexels-cottonbro-5473298.jpg&fm=jpg');
      color: rgba(0, 0, 0, 0.5);
      height: 100vh;
   "
>
   <div class="text">
      <h2>MongoDB CRUD Application</h2>
      <p>
         This application is designed to teach basic CRUD operations with
         MongoDB, ExpressJS, Angular, and NodeJS.
      </p>
      <!-- <small class="d-block mb-4">Hello, Roshane Johnson 👋</small> -->
      <button
         class="btn btn-outline-light btn-lg"
         type="button"
         routerLink="/students"
      >
         Get Started
      </button>
   </div>
</section>
