<section
   class="clean-block clean-hero"
   style="
      background-image: url('https://images.pexels.com/photos/5473298/pexels-photo-5473298.jpeg');
      color: rgba(0, 0, 0, 0.5);
      height: 100vh;
   "
>
   <div class="text">
      <h2>MongoDB CRUD Application</h2>
      <p>
         This application is designed to teach basic CRUD operations with
         MongoDB, ExpressJS, Angular, and NodeJS.
      </p>
      <!-- <small class="d-block mb-4">Hello, Roshane Johnson 👋</small> -->
      <button
         class="btn btn-outline-light btn-lg"
         type="button"
         routerLink="/students"
      >
         Get Started
      </button>
   </div>
</section>
<section class="clean-block features" id="features">
   <div class="container">
      <div class="block-heading">
         <h2 class="text-info">Features</h2>
         <p>
            This website has all the features of the CRUD operation using
            MongoDB, ExpressJS, Angular and NodeJS.
         </p>
      </div>
      <div class="row justify-content-center">
         <div class="col-md-5 feature-box">
            <i class="icon-star icon"></i>
            <h4>Create</h4>
            <p>
               The create action can be found at the
               <a href="/student/create">create student</a> page.
            </p>
         </div>
         <div class="col-md-5 feature-box">
            <i class="icon-pencil icon"></i>
            <h4>Read</h4>
            <p>
               The read operation is active on two pages the
               <a href="/students">all students</a> page and the student detail
               page which can be navigated to via the
               <a href="/students">all students</a> page.
            </p>
         </div>
         <div class="col-md-5 feature-box">
            <i class="icon-screen-smartphone icon"></i>
            <h4>Update</h4>
            <p>
               The update operation is active on edit student page which can be
               found by clicking a link on the
               <a href="/students">all students</a> page.
            </p>
         </div>
         <div class="col-md-5 feature-box">
            <i class="icon-refresh icon"></i>
            <h4>Delete</h4>
            <p>
               The delete operation is active on the
               <a href="/students">all students</a> page.
            </p>
         </div>
      </div>
   </div>
</section>
